@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}

body {
  background-image: linear-gradient(to right, #7ea3c8, #324162);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(42, 55, 68);
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: aqua;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 88, 88, 0.699);
}

h2 {
  color: blue;
}

p {
  text-align: justify;
}
